@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Commissioner:wght@200;300;400&family=Montserrat:wght@300;400;500;600;800&family=Ubuntu&display=swap');

.contents{
    display: flex;
    gap: 45px;
}
.documentation{
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}
.paras{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.para{
    font-family: 'Montserrat', sans-serif;
}

span{
    font-family: 'Montserrat', sans-serif;
    color: rgba(252, 7, 109, 0.925);
    font-weight: bold;
}
span:hover{
    cursor: pointer;
}
.topicFont{
    font-size: 40px;
    padding-top: 95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.document{
   padding-top: 50px;
   padding-left: 190px;
}
.inputButton {
    position: relative;
    height: 100px;
    width : 130px;
    padding-top: 20px;
}
.inputButton input{
    width: 535px;
    height: 36px;
    padding: 15px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 3px 60px 1px rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}
::placeholder {
    color: rgb(211, 211, 211);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px; 
    
} 
.inputButton button {
    position: absolute;
    right: -425px;
    top : 25px;
    padding: 15px;
    width: 150px;
    height: 55px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 28, 83);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.search:hover{
    cursor: pointer;
}

.man{
    height: 450px;
    width: 450px;
    padding-top: 55px;
}