@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Commissioner:wght@200;300;400&family=Montserrat:wght@300;400;800&family=Ubuntu&display=swap');

.container{
    padding-top: 40px;
    padding-left: 30px;
    /* display: flex;
    /* justify-content: center; */
    /* align-items: center; */ 

}
ul{
    list-style-type: none;
    display: flex;
    gap: 185px;
   
}
.home{
    color: rgba(252, 7, 109, 0.925);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
}
.home:hover{
    cursor: pointer;
}
.image{
    height: 40px;
    width: 40px;
    display: flex;
    
}
.lists{
    display: flex;
    align-items: center;
    gap:65px;
}
.list{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.buttons{
    display: flex;
    gap: 30px;
}

.contact{
    padding: 12px;
    border: 2px solid rgb(248, 28, 83);
    border-radius: 8px;
    background-color: rgb(248, 28, 83);
    color: white;
    width: 140px;
    font-weight: bold;
    font-size: large;
}
.contact:hover{
    cursor: pointer;
}
.change{
    padding: 12px;
    border: 2px solid rgba(252, 7, 109, 0.925);
    border-radius: 8px;
    background-color: white;
    color: rgba(252, 7, 109, 0.925);
    width: 140px;
    font-weight: bold;
    font-size: large;
    /* font-size: medium; */
}
.change:hover{
    cursor: pointer;
}
.name{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Commissioner', sans-serif;
}
.drop{
    height: 11px;
    width: 11px;
    padding-top: 5px;
    padding-left: 10px;
    
}

.doc{
    display: flex;
    gap: 3px;
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: center;
}
.doc:hover{
    cursor: pointer;
}
.listButton{
    display: flex;
    gap:140px;
    
}
.github{
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    font-size: large;
}
.faq{
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    font-size: large;
}
.github:hover{
    cursor: pointer;
}
.faq:hover{
    cursor: pointer;
}